Repository madpin/Meetscribe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-toml, check-template-placeholders, pytest, check-pyproject-installable

validate-toml:
  name: validate-toml-syntax
  entry: python
  language: system
  pass_filenames: true
  args:
  - -c
  - import toml, sys, re; [toml.load(f) for f in sys.argv[1:] if not re.search(r'{{.*}}', open(f).read())]

check-template-placeholders:
  name: check-template-placeholders
  entry: python
  language: system
  pass_filenames: false
  args:
  - -c
  - import sys; sys.path.insert(0, 'scripts'); from validate_setup import SetupValidator; validator = SetupValidator(); print('Template validation script runs successfully'); True

pytest:
  name: pytest-tests
  entry: python
  language: python
  pass_filenames: false
  args:
  - -c
  ...

check-pyproject-installable:
  name: check-pyproject-installable
  entry: python
  language: system
  pass_filenames: false
  args:
  - -c
  ...

Refactor: Clean up test_cli.py by removing unused import
  tests/test_cli.py
Due: check-template-placeholders, pytest

Update CI and release workflows to reflect new executable name 'meetscribe'
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: check-template-placeholders

Update build scripts to reflect new executable name 'meetscribe'
  scripts/build.sh
  scripts/build_signed.py
Due: check-template-placeholders, pytest

Remove config.local.toml from tracking and add to .gitignore
  .gitignore
  config.local.toml
Due: validate-toml, check-template-placeholders

Update documentation and configuration for Meetscribe
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPER.md
  LICENSE
  README.md
  TEMPLATE_SETUP.md
  USER_GUIDE.md
  app/cli.py
  app/core/logging.py
  app/transcriber.py
  docs/CODE_SIGNING.md
  docs/DEVELOPMENT.md
  docs/quick_start.md
  scripts/validate_setup.py
Due: check-template-placeholders, pytest

Remove deprecated transcriber module and update configuration for Deepgram integration
  DEVELOPER.md
  README.md
  USER_GUIDE.md
  app/transcriber.py
  code_for_review.py
  config.toml
Due: validate-toml, check-template-placeholders, pytest

Add reprocessing option to CLI and update documentation
  README.md
  USER_GUIDE.md
  app/cli.py
  config.toml
  docs/quick_start.md
Due: validate-toml, check-template-placeholders, pytest

Refactor CLI and logging for improved output handling
  app/cli.py
  app/core/config.py
  app/core/context.py
  app/core/logging.py
Due: check-template-placeholders, pytest

Enhance Meetscribe CLI with interactive file selection and configuration updates
  README.md
  USER_GUIDE.md
  app/cli.py
  app/core/utils.py
  app/transcriber.py
  config.toml
  docs/quick_start.md
  pyproject.toml
  requirements.txt
Due: validate-toml, check-template-placeholders, pytest, check-pyproject-installable

Enhance configuration and documentation for Meetscribe
  README.md
  USER_GUIDE.md
  app/cli.py
  config.toml
  docs/quick_start.md
Due: validate-toml, check-template-placeholders, pytest

Enhance file processing in CLI with dynamic selection mode
  app/cli.py
Due: check-template-placeholders, pytest

Add Google Calendar integration and update configuration
  README.md
  USER_GUIDE.md
  app/cli.py
  app/integrations/__init__.py
  app/integrations/google_calendar.py
  config.toml
  docs/quick_start.md
  pyproject.toml
  requirements.txt
Due: validate-toml, check-template-placeholders, pytest, check-pyproject-installable

Enhance configuration and logging for Meetscribe
  USER_GUIDE.md
  app/cli.py
  app/core/config.py
  app/core/config_models.py
  app/core/context.py
  app/core/exceptions.py
  app/core/utils.py
  app/integrations/google_calendar.py
  app/services/__init__.py
  app/services/file_processor.py
  app/transcriber.py
  app/ui.py
  config.toml
  docs/quick_start.md
  entitlements.plist
  pyproject.toml
  requirements.txt
Due: validate-toml, check-template-placeholders, pytest, check-pyproject-installable

Add LLM post-processing capabilities and update configuration
  README.md
  USER_GUIDE.md
  app/cli.py
  app/core/config.py
  app/core/config_models.py
  app/services/agents.py
  app/services/file_processor.py
  app/services/llm_notes.py
  app/ui.py
  config.toml
  docs/quick_start.md
  pyproject.toml
  requirements.txt
Due: validate-toml, check-template-placeholders, pytest, check-pyproject-installable

Refactor imports in agent and LLM notes modules
  app/services/agents.py
  app/services/llm_notes.py
Due: check-template-placeholders, pytest

Enhance CLI tests with improved configuration mocking
  tests/test_cli.py
  tests/test_config.py
Due: check-template-placeholders, pytest

Add calendar linking feature and update documentation
  README.md
  USER_GUIDE.md
  app/cli.py
  app/core/config_models.py
  app/core/utils.py
  app/integrations/google_calendar.py
  app/services/calendar_linker.py
  app/services/file_processor.py
  config.toml
  docs/quick_start.md
Due: validate-toml, check-template-placeholders, pytest

Enhance CLI with interactive calendar event selection option
  app/cli.py
Due: check-template-placeholders, pytest

Add comprehensive release script with auto-versioning
  scripts/release.sh
Due: none

Release v0.1.1
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Update GitHub Actions workflow to enforce bash shell for specific steps
  .github/workflows/release.yml
Due: check-template-placeholders

Release v0.1.2
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Update GitHub Actions workflows to use latest action versions and improve release process
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: check-template-placeholders

Update project metadata and streamline CI workflows
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/template-setup.yml
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Update project documentation and scripts for Meetscribe
  docs/NEXT_STEPS.md
  scripts/fix_macos_security.sh
  scripts/release.sh
  scripts/validate_setup.py
Due: check-template-placeholders, pytest

Release v0.1.3
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Enhance release workflow and script functionality
  .github/workflows/release.yml
  scripts/release.sh
Due: check-template-placeholders

Release v0.1.4
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Enhance release workflow with retry logic for asset uploads
  .github/workflows/release.yml
Due: check-template-placeholders

Release v0.1.5
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Update release workflow to use 'uv' for pip installation
  .github/workflows/release.yml
Due: check-template-placeholders

Release v0.1.6
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Release v0.1.7
  pyproject.toml
Due: validate-toml, check-template-placeholders, check-pyproject-installable

Refactor file processing logic and enhance setup validation
  .gitignore
  AGENTS.md
  app/services/agents.py
  app/services/file_processor.py
  docs/NEXT_STEPS.md
  scripts/fix_macos_security.sh
  scripts/validate_setup.py
Due: check-template-placeholders, pytest

Implement output file extension configuration and update processing logic
  app/cli.py
  app/core/config_models.py
  app/services/file_processor.py
  app/services/llm_notes.py
  app/ui.py
  config.toml
Due: validate-toml, check-template-placeholders, pytest

Add output extension configuration to test setup
  tests/test_cli.py
Due: check-template-placeholders, pytest

Enhance transcript output formatting based on diarization setting
  app/transcriber.py
Due: check-template-placeholders, pytest

Add meeting notes configuration and implement upcoming events command
  app/cli.py
  app/core/config.py
  app/core/config_models.py
  app/core/utils.py
  app/integrations/google_calendar.py
  app/services/meeting_notes.py
  app/ui.py
  config.toml
Due: validate-toml, check-template-placeholders, pytest

Add directory watcher configuration and refactor CLI command handling
  app/cli.py
  app/core/config.py
  app/core/config_models.py
  app/core/context.py
  app/core/utils.py
  app/integrations/google_calendar.py
  app/services/calendar_linker.py
  app/services/dir_watcher.py
  app/services/file_processor.py
  app/services/llm_notes.py
  app/services/meeting_notes.py
  app/transcriber.py
  app/ui.py
  config.toml
  scripts/validate_setup.py
  tests/test_cli.py
  tests/test_config.py
Due: validate-toml, check-template-placeholders, pytest

Add audio processing utilities and silence trimming options
  app/cli.py
  app/services/audio_tools.py
  app/services/dir_watcher.py
  app/services/file_processor.py
  pyproject.toml
Due: validate-toml, check-template-placeholders, pytest, check-pyproject-installable

Path conditions:
  validate-toml: any of: ^.*\.toml$
  check-template-placeholders: any of: ^.*\.(toml|yml|yaml|md|txt|py|json)$
  pytest: any of: ^(app|tests|scripts)/.*\.py$
  check-pyproject-installable: any of: ^pyproject\.toml$
